<html xmlns:fb="https://www.facebook.com/2008/fbml">
    <head>
      <title>My Great Website</title>
    </head>
    <body>
      <div id="fb-root"></div>
      <script src="http://connect.facebook.net/en_US/all.js">
      </script>
      <script>
         FB.init({ 
            appId:'278272958863760', cookie:true, 
            status:true, xfbml:true 
         });
         FB.api('/me', function(user) {
           if(user != null) {
              var image = document.getElementById('image');
              image.src = 'http://graph.facebook.com/' + user.id + '/picture';
              var name = document.getElementById('name');
              name.innerHTML = user.name;
				
			  var info = document.getElementById('info');
			  info.innerHTML = user.gender + " " + user.username + " " + user.link
           }
         });
		 FB.api('/me', function(user) {
			 var locationHTML = document.getElementById('friends');
			 console.log(user.location); 
			 locationHTML.innerHTML = user.location
			 
		 });
		 FB.api('/me', function(user) {
			 var bioHTML = document.getElementById('bio');
			 console.log(user.quotes);
			 bioHTML.innerHTML = user.quotes
			 
		 });
       </script>
           <div align="center">
           		<img id="image"/>
           		<div id="name"></div>
				<pre id="info"></pre>
				<pre id="friends"></pre>
				<pre id="bio"></pre>
				
           </div>
    </body>
 </html>
