<html xmlns:fb="https://www.facebook.com/2008/fbml">
	<head>
		<title>My Facebook Login Page</title>
	</head>
	<body>
   	<div id="fb-root"></div>
   	<script src="http://connect.facebook.net/en_US/all.js">
   	</script>
   	<script>
     	FB.init({ 
        appId:'278272958863760', cookie:true, 
        status:true, xfbml:true 
      });

			(function(d){
         var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all.js";
         d.getElementsByTagName('head')[0].appendChild(js);
       }(document));

			FB.getLoginStatus(function(response) {
				console.log(response);
			  if (response.authResponse) {
					window.location = "http://www.bday-reminder.com/welcome";
			  } else {
				
		      FB.Event.subscribe('auth.login', function () {
		         window.location = "http://www.bday-reminder.com/welcome";
		      });
			  }
			});
		</script>
    <div class="fb-registration" data-fields="[{'name':'name'}, {'name':'email'},
        {'name':'favorite_car','description':'What is your favorite car?',
          'type':'text'}]">
      data-redirect-uri="http://www.bday-reminder.com/welcome" <br />
			I think this one is fucked up.
    </div>

		<iframe src="http://www.facebook.com/plugins/registration.php?
		             client_id=278272958863760&
		             redirect_uri=http://www.bday-reminder.com/welcome&
		             fields=name,birthday,gender,location,email"
		        scrolling="auto"
		        frameborder="no"
		        style="border:none"
		        allowTransparency="true"
		        width="100%"
		        height="310px">
		</iframe>
		
	</body>
</html>